<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"> <%= blog.title %> </div>
        <div class="ui top attached">
            <div class="image">
                <img src="<%= blog.image %>" class="ui centered rounded image">
            </div>
            <div class="extra">
                <span> <%= blog.created.toDateString() %> </span>
            </div>
            <div class="description">
                <p> <%= blog.body %> </p>
            </div>  
        </div>
    </div>
</div>

<% include ./partials/footer %>